
/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic styles */

    /* Отображает рабочую область (Будет удален)*/
.shadow {
    box-shadow: 0px 2px 20px #F6F2F6;
}
    

body {
    margin: 0 auto;
    position: relative;
    width: 1500px;
    height: 800px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(84, 224, 217);
    background: rgb(31, 48, 104);
}


    /* header */
.head {
    position: absolute;
    width: 1500px;
    height: 90px;
    left: 0px;
    top: 0px;
    
    background: #211A6B;
}

    /* main */
    /* Стильдля рыбы (потом будет удален) */
.lorem {
    position: absolute;
    width: 688px;
    height: 78px;
    left: 406px;
    top: 361px;
    
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

    /* footer */
.bottom {
    position: absolute;
    width: 1500px;
    height: 137px;
    left: 0px;
    top: 663px;
    
    background: #120F34;
}

body {
    position: relative;
width: 1920px;
height: 1080px;

background: #F5F5F5;
}