
/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic styles */

    /* Отображает рабочую область (Будет удален)*/
.shadow {
    box-shadow: 0px 2px 20px #F6F2F6;
}
    /* main */

body {
    margin: 0 auto;
    position: relative;
    width: 1824px;
    height: 7169px;
    
    background: #EDEDED;
    display: flex;
}

/* позиция и цвет для "Описания игры"*/

.text {
    position: absolute;
    width: 622px;
    height: 507px;
    left: 59px;
    top: 329px;
    
    background: #FFFFFF;
}

#name {
    position: absolute;
    width: 557px;
    height: 80px;
    left: 33px;
    top: 48px;
    
    background: #919191;
}

#descript {
    position: absolute;
    width: 557px;
    height: 295px;
    left: 33px;
    top: 166px;
    
    background: #BDBDBD;
}

.logo {
    position: absolute;
    width: 1059px;
    height: 610px;
    left: 723px;
    top: 278px;
    
    background: #919191;
}

/*позиция и цвет для "Игрового мира"*/

.gameworld {
    position: absolute;
    width: 1824px;
    height: 1314px;
    left: 0px;
    top: 1094px;
    
    background: linear-gradient(360deg, #070707 21.99%, #EDEDED 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gw1 {
    position: absolute;
    width: 455px;
    height: 105px;
    left: 684px;
    top: 148px;
    
    background: #D9D9D9;
}

.gw2 {
    position: absolute;
    width: 1672px;
    height: 267px;
    left: 76px;
    top: 311px;
    
    background: #BDBDBD;
}

.gw3 {
    position: absolute;
    width: 1511px;
    height: 190px;
    left: 157px;
    top: 636px;
    
    background: #8E8E8E;
}

.gw4 {
    position: absolute;
    width: 266px;
    height: 50px;
    left: 779px;
    top: 916px;
    
    background: #BDBDBD;
}

.separate-block {
    position: absolute;
    width: 1824px;
    height: 99px;
    left: 0px;
    top: 2408px;
    
    background: #8B8B8B;
}
/*Позиция и цвет для "Персонажи и враги"*/


/* char1 */
.char1 {
    position: absolute;
    width: 504px;
    height: 705px;
    left: 99px;
    top: 2690px;
    
    background: #FFFFFF;
}
.char-appear1 {
    position: absolute;
    width: 504px;
    height: 257px;
    left: 0px;
    top: 0px;
    
    background: #BDBDBD;
}
#char-name1 {
    position: absolute;
    width: 42px;
    height: 21px;
    left: 37px;
    top: 331px;
    
    background: #8E8E8E;
}
#char-class1{
    position: absolute;
    width: 167px;
    height: 21px;
    left: 38px;
    top: 369px;
    
    background: #8E8E8E;
}
#char-descript1 {
    position: absolute;
    width: 405px;
    height: 177px;
    left: 37px;
    top: 429px;
    
    background: #8E8E8E;
}
/* char2 */
.char2 {
    position: absolute;
    width: 504px;
    height: 705px;
    left: 660px;
    top: 2690px;
    
    background: #FFFFFF;
}
.char-appear2 {
    position: absolute;
    width: 504px;
    height: 257px;
    left: 0px;
    top: 0px;
    
    background: #BDBDBD;
}
#char-name2 {
    position: absolute;
    width: 42px;
    height: 21px;
    left: 37px;
    top: 331px;
    
    background: #8E8E8E;
}
#char-class2{
    position: absolute;
    width: 167px;
    height: 21px;
    left: 38px;
    top: 369px;
    
    background: #8E8E8E;
}
#char-descript2 {
    position: absolute;
    width: 405px;
    height: 177px;
    left: 37px;
    top: 429px;
    
    background: #8E8E8E;
}
/* char3 */
.char3 {
    position: absolute;
    width: 504px;
    height: 705px;
    left: 1221px;
    top: 2690px;
    
    background: #FFFFFF;
}
.char-appear3 {
    position: absolute;
    width: 504px;
    height: 257px;
    left: 0px;
    top: 0px;
    
    background: #BDBDBD;
}
#char-name3 {
    position: absolute;
    width: 42px;
    height: 21px;
    left: 37px;
    top: 331px;
    
    background: #8E8E8E;
}
#char-class3 {
    position: absolute;
    width: 167px;
    height: 21px;
    left: 38px;
    top: 369px;
    
    background: #8E8E8E;
}
#char-descript3 {
    position: absolute;
    width: 405px;
    height: 177px;
    left: 37px;
    top: 429px;
    
    background: #8E8E8E;
}
/*Позиция и цвет для "Геймплея"*/

#gp-head {
    position: absolute;
    width: 1066px;
    height: 111px;
    left: 371px;
    top: 3665px;
    
    background: #8B8B8B;
}

.gameplay-img {
    position: absolute;
    width: 1047px;
    height: 673px;
    left: 29px;
    top: 3911px;
    
    background: #BDBDBD;
}

.gp1 {
    position: absolute;
    width: 197px;
    height: 190px;
    left: 1122px;
    top: 3911px;
    
    background: #BDBDBD;
}

.gp2 {
    position: absolute;
    width: 197px;
    height: 190px;
    left: 1351px;
    top: 3911px;
    
    background: #BDBDBD;
}

.gp3 {
    position: absolute;
    width: 197px;
    height: 190px;
    left: 1581px;
    top: 3911px;
    
    background: #BDBDBD;
}

#gp-text {
    position: absolute;
    width: 656px;
    height: 441px;
    left: 1122px;
    top: 4143px;
    
    background: #FFFFFF;
}

/*Позиция и цвет для "Регистрация на бета тест"*/

.text1 {
    position: absolute;
    width: 271px;
    height: 34px;
    left: 591px;
    top: 4539px;

    background: #BDBDBD;
}

.text2 {
    position: absolute;
    width: 643px;
    height: 99px;
    left: 405px;
    top: 4612px;

    background: #8E8E8E;
}

.text3 {
    position: absolute;
    width: 350px;
    height: 11px;
    left: 552px;
    top: 4750px;

    background: #D9D9D9;
}

.button1 {
    position: absolute;
    width: 788px;
    height: 112px;
    left: 176px;
    top: 4808px;

    background: #8E8E8E;
}

.button2 {
    position: absolute;
    width: 256px;
    height: 112px;
    left: 1048px;
    top: 4808px;

    background: #8E8E8E;
}
/* screenshots */

.game-img1 {
    position: absolute;
    width: 912px;
    height: 540px;
    left: 0px;
    top: 4789px;
    background-color: #919191;
}
.game-img2 {
    position: absolute;
    width: 912px;
    height: 540px;
    left: 912px;
    top: 4789px;
    
    background: linear-gradient(180deg, #8A8A8A 0%, #6C6C6C 100%);
}
.game-img3 {
    position: absolute;
    width: 912px;
    height: 540px;
    left: 0px;
    top: 5329px;
    
    background: linear-gradient(180deg, #8A8A8A 0%, #6C6C6C 100%);
}
.game-img4 {
    position: absolute;
    width: 912px;
    height: 540px;
    left: 912px;
    top: 5329px;

    background-color: #919191;
}

/* beta test */

.border1 {
    position: absolute;
    width: 1824px;
    height: 212px;
    left: 0px;
    top: 6065px;
    
    background: #CECECE;
}

.info {
    position: absolute;
    width: 1824px;
    height: 680px;
    left: 0px;
    top: 6277px;
    
    background: #FFFFFF;
}

#bt-block1 {
    position: absolute;
    width: 411px;
    height: 36px;
    left: 707px;
    top: 124px;
    
    background: #BDBDBD;
}
#bt-block2 {
    position: absolute;
    width: 977px;
    height: 108px;
    left: 424px;
    top: 202px;
    
    background: #8E8E8E;
}
#bt-block3 {
    position: absolute;
    width: 532px;
    height: 11px;
    left: 646px;
    top: 340px;
    
    background: #D9D9D9;
}
#bt-block4 {
    position: absolute;
    width: 1197px;
    height: 121px;
    left: 71px;
    top: 393px;
    
    background: #8E8E8E;
}
#bt-block5 {
    position: absolute;
    width: 388px;
    height: 121px;
    left: 1325px;
    top: 393px;
    
    background: #8E8E8E;
}
.border2 {
    position: absolute;
    width: 1824px;
    height: 212px;
    left: 0px;
    top: 6957px;
    
    background: #CECECE;
}