/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic styles */

.shadow {
    box-shadow: 0px 2px 20px #F6F2F6;
}

body {
    margin: 0 auto;

    position: relative;
    width: 1500px;
    height: 5000px;
}

.main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    position: absolute;
    width: 1500px;
    height: 148px;
    left: 0px;
    top: 0px;
    
    background: #1C252C;
}

a {
    text-decoration: none;
}

#hel1 {
    position: absolute;
    width: 219px;
    height: 53px;
    left: 60px;
    top: 48px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

#hel2 {
    position: absolute;
    width: 95px;
    height: 53px;
    left: 304px;
    top: 48px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

#hel3 {
    position: absolute;
    width: 244px;
    height: 53px;
    left: 424px;
    top: 48px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

#hel4 {
    position: absolute;
    width: 211px;
    height: 53px;
    left: 693px;
    top: 48px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
}

#hel5 {
    position: absolute;
    width: 255px;
    height: 53px;
    left: 929px;
    top: 48px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

/* Info */

/*
.info {
    position: absolute;
    width: 1500px;
    height: 4452px;
    left: 0px;
    top: 213px;
    
    background: #1C252C;
}
*/
#pgname {
    position: absolute;
    width: 844px;
    height: 362px;
    left: 90px;
    top: 207px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 190px;
    
    color: #1C252C; 
}

#desp {
    position: absolute;
    width: 368px;
    height: 75px;
    left: 90px;
    top: 675px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    display: flex;
    align-items: center;
    
    color: #1C252C;
    
}

#despbl {
    position: absolute;
    width: 1226px;
    height: 523px;
    left: 90px;
    top: 787px;
    
    background: #B7A7AE;
}

#desptext {
    position: absolute;
    width: 1022px;
    height: 523px;
    margin-left: 100px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    display: flex;
    align-items: center;
    
    color: #1C252C;
    
}

#gworld {
    position: absolute;
    width: 368px;
    height: 75px;
    left: 90px;
    top: 1347px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    display: flex;
    align-items: center;
    
    color: #1C252C;
}

#wbl{
    position: absolute;
    width: 1226px;
    height: 523px;
    left: 90px;
    top: 1459px;
    
    background: #B7A7AE;
}